<mat-horizontal-stepper linear #stepper class="ordering-ride-form">
  <mat-step [hasError]="!isValidRideForm" errorMessage="Invalid form data" completed="false">
    <ng-template matStepLabel>Ride data</ng-template>
    <app-ride-data-form (register)="onFirstStepNext($event, stepper)"></app-ride-data-form>
  </mat-step>

  <mat-step completed="false">
    <ng-template matStepLabel>Choose ride</ng-template>
    <app-ride-data-table (formData)="onSecondStepNext(stepper)" [rideForm]="rideForm"></app-ride-data-table>
  </mat-step>

  <mat-step [hasError]="!isValidPaymentForm" errorMessage="Invalid form data" completed="false">
    <ng-template matStepLabel>Payment</ng-template>
    <app-payment-form (formData)="onThirdStepNext($event, stepper)" [rideForm]="rideForm"></app-payment-form>
  </mat-step>

  <mat-step completed="false">
    <ng-template matStepLabel>Overview</ng-template>
    <app-overview-ordering-ride [rideForm]="rideForm" [paymentForm]="paymentForm"></app-overview-ordering-ride>
    <!--    [paymentForm]="this.paymentForm"-->
    <!--    <div *ngIf="!this.addingFinished" class="processing_container">-->
    <!--      <p class="processing_text">The entered data is being processed</p>-->
    <!--      <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <!--    </div>-->
    <!--    <div *ngIf="this.addingFinished && this.successfullyFinished" class="success_container">-->
    <!--      <img src="/assets/check.png" class="icon">-->
    <!--      <p class="done_text">Successfully added new driver</p>-->
    <!--    </div>-->
  </mat-step>

</mat-horizontal-stepper>
