@import "src/style/styles";

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.location, .intermediate-station, .price-info, .time-info {
  display: flex;
  justify-content: flex-start;
  margin: 2%;

  .location-title, .intermediate-title, .price-title, .time-title {
    margin-left: 2%;
  }
}

.price, .time {
  margin-left: 2%;
}

.button {
  display: flex;
  justify-content: center;
  height: 3vh;
  margin: 1% 0 0 0;

  .submit-button-pay, .submit-button-cancel {
    @include buttonStylePopup();
    margin-left: 5px;
    width: 20%;
  }
}
