@import "src/style/styles";

.header_container {
  background-color: $dark1;
  display: flex;
  height: 10%;
  flex-direction: row;
  min-height: 60px;
}

.home {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.logo {
  padding: 5px;
  height: 80%;
}

.app_name {
  font-family: $font;
  font-size: x-large;
  color: white;
}

.sign_button {
  color: white;
  font-size: large;
  font-family: $font;
  text-decoration: none;
  float: right;
  padding-top: 2%;
  margin-right: 4%;
}
