@import "src/style/styles";

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top: 2%;
    column-gap: 50px;
    row-gap: 50px;
    overflow: auto;
    height: 75%;
}
.title{
    @include setTitleStyle(55vw);
}
