<div class="ride-area">
  <div class="ride-info">
    <div class="other-info">
      <div class="driver-info">
        <img src="assets/car.png" alt="car" class="driver-img">
        <p class="driver-title">Driver: <span class="driver">Petar Peric</span></p>
      </div>
      <div class="price-info">
        <p class="price-title">Price: <span class="price">320 ?v</span></p>
      </div>
      <div class="additional-options-info">
        <div class="tooltip">
          <img src="assets/koferi.png" alt="baggage" class="additional-option">
          <span class="tooltiptext">Baggage</span>
        </div>
        <div class="tooltip">
          <img src="assets/zivotinje.png" alt="pet" class="additional-option">
          <span class="tooltiptext">Pet</span>
        </div>
        <div class="tooltip">
          <img src="assets/hrana.png" alt="food" class="additional-option">
          <span class="tooltiptext">Food</span>
        </div>
        <div class="tooltip">
          <img src="assets/beba.png" alt="baby" class="additional-option">
          <span class="tooltiptext">Baby</span>
        </div>
      </div>
    </div>
    <div class="time-info">
      <p class="minutes">13min</p>
    </div>
  </div>
  <div class="ride-info">
    <div class="other-info">
      <div class="driver-info">
        <img src="assets/car.png" alt="car">
        <p class="driver-title">Driver: <span class="driver">Petar Peric</span></p>
      </div>
      <div class="price-info">
        <p class="price-title">Price: <span class="price">300 ?v</span></p>
      </div>
      <div class="additional-options-info">
        <div class="tooltip">
          <img src="assets/koferi.png" alt="baggage" class="additional-option">
          <span class="tooltiptext">Baggage</span>
        </div>
        <div class="tooltip">
          <img src="assets/zivotinje.png" alt="pet" class="additional-option hidden">
          <span class="tooltiptext">Pet</span>
        </div>
        <div class="tooltip">
          <img src="assets/hrana.png" alt="food" class="additional-option">
          <span class="tooltiptext">Food</span>
        </div>
        <div class="tooltip">
          <img src="assets/beba.png" alt="baby" class="additional-option">
          <span class="tooltiptext">Baby</span>
        </div>
      </div>
    </div>
    <div class="time-info">
      <p class="minutes">19min</p>
    </div>
  </div>
  <div class="ride-info">
    <div class="other-info">
      <div class="driver-info">
        <img src="assets/car.png" alt="car">
        <p class="driver-title">Driver: <span class="driver">Petar Peric</span></p>
      </div>
      <div class="price-info">
        <p class="price-title">Price: <span class="price">300 ?v</span></p>
      </div>
      <div class="additional-options-info">
        <div class="tooltip">
          <img src="assets/koferi.png" alt="baggage" class="additional-option">
          <span class="tooltiptext">Baggage</span>
        </div>
        <div class="tooltip">
          <img src="assets/zivotinje.png" alt="pet" class="additional-option hidden">
          <span class="tooltiptext">Pet</span>
        </div>
        <div class="tooltip">
          <img src="assets/hrana.png" alt="food" class="additional-option hidden">
          <span class="tooltiptext">Food</span>
        </div>
        <div class="tooltip">
          <img src="assets/beba.png" alt="baby" class="additional-option">
          <span class="tooltiptext">Baby</span>
        </div>
      </div>
    </div>
    <div class="time-info">
      <p class="minutes">19min</p>
    </div>
  </div>
  <div class="ride-info">
    <div class="other-info">
      <div class="driver-info">
        <img src="assets/car.png" alt="car">
        <p class="driver-title">Driver: <span class="driver">Petar Peric</span></p>
      </div>
      <div class="price-info">
        <p class="price-title">Price: <span class="price">400 ?v</span></p>
      </div>
      <div class="additional-options-info">
        <div class="tooltip">
          <img src="assets/koferi.png" alt="baggage" class="additional-option">
          <span class="tooltiptext">Baggage</span>
        </div>
        <div class="tooltip">
          <img src="assets/zivotinje.png" alt="pet" class="additional-option hidden">
          <span class="tooltiptext">Pet</span>
        </div>
        <div class="tooltip">
          <img src="assets/hrana.png" alt="food" class="additional-option hidden">
          <span class="tooltiptext">Food</span>
        </div>
        <div class="tooltip">
          <img src="assets/beba.png" alt="baby" class="additional-option hidden">
          <span class="tooltiptext">Baby</span>
        </div>
      </div>
    </div>
    <div class="time-info">
      <p class="minutes">5min</p>
    </div>
  </div>
</div>
<div class="submit-item">
  <button class="submit-button" type="submit" (click)="onSubmit()">Next</button>
</div>


