<div class="admin-chat-container">
    <app-channels-list (chatMessagesEmiter)="loadMessages($event)" [newMessage]="this.message"></app-channels-list>
    <div class="chat-box-container">
        <div class="header">
            <button class="close-btn" (click)="onCLose()">
                <img src="/assets/cross.png" class="close"/>
            </button>
        </div>
        <div class="container">
            <div class="messages-container" *ngFor="let mess of this.messages">
                <app-message-box [message]="mess"></app-message-box>
            </div>
        </div>
    
        <div class="typing-container">
            <app-sent-box (messageEmiter)="setMessage($event)" [channel]="channel"></app-sent-box>
        </div>
    </div>
</div>
