<div class="admin-chat-container">
    <app-channels-list (chatMessagesEmiter)="loadMessages($event)" ></app-channels-list>
    <div class="chat-box-container">
        <div class="header">
            <div class="opened-chat-email">
                {{channelId}}
            </div>
            <button class="close-btn" (click)="onCLose()">
                <img src="/assets/cross.png" class="close"/>
            </button>
        </div>
        <div class="container" #chat_container>
            <div #chatcontent class="messages-container" *ngFor="let mess of this.messages">
                <app-message-box [message]="mess"></app-message-box>
            </div>
        </div>
    
        <div class="typing-container" *ngIf="isChatOpen">
            <app-sent-box (messageEmiter)="setMessage($event)" [channel]="channelId"></app-sent-box>
        </div>
    </div>
</div>
