@import "../../../../../style/styles.scss";

.chat-box-container{
    display: flex;
    flex-direction: column;
    width: 680px;
    border: solid 1px $light2;
    flex-grow: 10;
    
}


.header{
     margin-bottom: 15px;
     display: flex;
     flex-direction: row;
}

.close{
    float: right;
    width:20px;
    justify-content: end;
}

.close-btn{
    background:transparent; border:none; float: right; padding: 5px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 3px;
    padding: 4px;
}

.typing-container{
    flex-grow: 0.5;
    padding-top: 10px;

}

.container{
    display: flex; 
    flex-direction: column;  
    max-height: 450px; 
    min-height:350px;
    overflow: auto;
    padding: 10px;
    flex-grow: 20;
}


.admin-chat-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    min-width: 300px;
    margin-left: 20%;
    margin-top: 5%;
    height: 70%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    min-width: 650px;
    min-height: 470px;
}

::-webkit-scrollbar{
    display: none;
}

.opened-chat-email{
    padding-left: 10px;
    padding-top: 10px;
    color: $dark3;
    flex-grow: 10;
}