@import '../../shared.scss';
$gray: #3B3838;

.driver-data_form{
    justify-content: end;
    width: 40%;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.item {
    position: relative;
    
}


.name_field{
    display: inline-block;
    vertical-align: top;
}

.messageTooltip{
    background: $light1;
    color: $dark3;
}

.input-fields-container {
    display: flex;
    width: 80%;
    flex-direction: column;
}



.large_button{
    background-color: #4C506C;
    color: white;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: medium;
}

.disabled_large_btn{
    background-color: $light1;
    color: grey;
    border: solid thin gray;
    font-size: medium;
    width: 100%;
}

.car_type_group{
    padding-bottom: 10%;
}

.car_type_item{
    padding-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Inter';
    color: #3B3838;
    padding-top: 5px;
}

.car_type_label{
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Inter';
    color: $gray;
}


.user_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.car_accomodation{
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    color: $gray;
}

.car_accomodation_label{
    color: $gray;
}