@import "src/style/styles";

.ride-summary {
  @include size(100%, 80vh);
  @include setFont(16px);
  overflow-y: auto;
  margin-top: 2%;
  font-weight: initial;
  color: $dark3;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ride-button {
  @include buttonStyle();
  margin-right: 5px;
}

.fas, .fa-solid {
  color: $dark3;
}

.first-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $dark3;
}

.location, .intermediate-station, .other-users {
  display: flex;
  justify-content: flex-start;
  margin: 2%;

  .location-title, .intermediate-title, .users-title {
    margin-left: 2%;
  }
}

.second-line {
  border-bottom: 1px solid $dark3;

  .driver-info {
    display: flex;

    .driver-img {
      @include size(50px, 50px);
      margin-top: 2%;
    }

    .driver-title {
      margin: 1% 2%;
    }
  }

  .driver-image{
    margin-top: 1%;
    margin-left: 33%;
    .profile-image{
      @include size(65px, 65px);
    }
  }

  .additional-options-info {
    display: flex;
    justify-content: flex-start;

    .additional-option {
      margin: 0 2% 4% 0;
    }
  }
}

.third-line {
  display: flex;
  justify-content: flex-end;
  margin: 2% 3% 0 0;

  .price-title{
    @include setFont(24px);
    color: $dark3;
    font-weight: bold;
  }
}

stations-and-passengers {
  border-bottom: 1px solid $dark3;
}
