<div>
  <div *ngIf="driving !== undefined">
    <div class="ride-summary">
      <div class="first-line" *ngIf="!driving?.reservation">
        <div class="location">
          <em class="fa-solid fa-hourglass-start"></em>
          <p class="location-title">Start date: {{driving.startDate}}</p>
        </div>
        <div class="location">
          <em class="fa-solid fa-hourglass-end"></em>
          <p class="location-title">End date: {{driving.endDate}}</p>
        </div>
        <div *ngIf="this.isPassengerView">
          <button class="ride-button" mat-button (click)="getRide(driving.route, true)">Get ride now</button>
        </div>
        <div *ngIf="this.isPassengerView">
          <button class="ride-button" mat-button (click)="getRide(driving.route, false)">Get ride later</button>
        </div>
      </div>
      <div class="first-line" *ngIf="driving?.reservation">
        <div class="location">
          <em class="fa-solid fa-hourglass-start"></em>
          <p class="location-title">Schedule time: {{driving.scheduleDate}}</p>
        </div>
      </div>
      <div class="stations-and-passengers">
        <app-ride-overview
          [start]="driving.route.start.name"
          [end]="driving.route.end.name"
          [intermediateStation]="driving.route.intermediateStations">
        </app-ride-overview>
        <app-passenger-overview [passengers]="driving.passengers">
        </app-passenger-overview>
      </div>
      <div class="location">-->
        <em class="fa-solid fa-long-arrow-right"></em>
        <p class="location-title">Distance: {{driving.fromStartToEnd.distance}} m</p>
      </div>
      <div class="second-line" *ngIf="!isDriverView">
        <app-driver-overview [driver]="driving.driver"></app-driver-overview>
      </div>
      <div class="third-line">
        <p class="price-title">= <span class="price">{{driving.price}} RSD</span></p>
      </div>
      <div *ngIf="!driving?.reservation">
        <app-review-list [evaluations]="driving.evaluations"></app-review-list>
      </div>
    </div>
  </div>
</div>
