@import "src/style/styles";

.route {
  @include setFont(18px);
}

.options {
  display: flex;
  justify-content: center;
  margin: 5% 2% 0 2%;

  .option-yes {
    @include buttonStyle();
    @include size(10%, auto);
    padding: 1%;
    margin: 0 5%;
  }

  .option-no {
    @include buttonStyle();
    @include size(10%, auto);
    padding: 1%;
    margin: 0 5%;
  }
}

.location, .intermediate-station, .other-users {
  display: flex;
  justify-content: flex-start;
  margin: 2%;

  .location-title, .intermediate-title, .users-title {
    margin-left: 2%;
  }
}

.fas, .fa-solid {
  color: $dark3;
}

