@import "src/style/styles";

.location-fields{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20%;
}
.mat-form-field {
  @include size(30vw, auto);
}

.submit-item{
  @include size(auto, 5vh);
  display: flex;
  justify-content: flex-end;
  margin: 2% 5% 0 0;

  .submit-button{
    @include buttonStyle();
    @include size(15%, auto);
  }
}
