<mat-horizontal-stepper linear #stepper class="ordering-ride-form">
  <mat-step [hasError]="!isValidRideForm" errorMessage="Invalid form data" completed="false">
    <ng-template matStepLabel>Ride data</ng-template>
    <app-ride-data-basic-form (drivingOptions)="onFirstStepNext($event, stepper)"></app-ride-data-basic-form>
  </mat-step>

  <mat-step completed="false">
    <ng-template matStepLabel>Choose ride</ng-template>
    <app-ride-data-table (formData)="onSecondStepNext(stepper)" [drivingOptions]="drivingOptions" [rideForm]="rideForm"></app-ride-data-table>
  </mat-step>

  <mat-step completed="false">
    <ng-template matStepLabel>Finish</ng-template>
    You are one step away. Please sign up or login if you already have an account.
  </mat-step>

</mat-horizontal-stepper>
