<div class="dialog">
    <div class="title">Review all reservations</div>
    <div *ngIf="!this.gettingDataFinished" class="processing_container">
      <p class="processing_text">Loading data ...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="this.gettingDataFinished">
      <div *ngIf="this.dataSource?.data.length === 0">
        <div class="notification">
          <i class="fa-sharp fa-solid fa-circle-xmark"></i>
          <p class="text-message">The user does not have reservations!</p></div>
      </div>
      <div *ngIf="dataSource?.data.length > 0">
        <table mat-table [dataSource]="dataSource" matSort class="table-users" (matSortChange)="sortData($event)">
    
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let i = index">{{i + 1}} </td>
          </ng-container>
    
          <ng-container matColumnDef="startAddress">
            <th mat-sort-header="startAddress" *matHeaderCellDef> start address</th>
            <td mat-cell *matCellDef="let element"> {{element.start.name}} </td>
          </ng-container>
    
          <ng-container matColumnDef="endAddress">
            <th mat-sort-header="endAddress" *matHeaderCellDef> end address </th>
            <td mat-cell *matCellDef="let element"> {{element.end.name}} </td>
          </ng-container>
    
          <ng-container matColumnDef="startTime">
            <th mat-sort-header="startTime" *matHeaderCellDef> start time </th>
            <td mat-cell *matCellDef="let element"> {{element.reservationDate}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-sort-header="price" *matHeaderCellDef> price </th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-sort-header="price" *matHeaderCellDef> state </th>
            <td mat-cell *matCellDef="let element" class="reservation-state">{{element.drivingState}}</td>
          </ng-container>
  
          <ng-container matColumnDef="details">
            <th mat-sort-header *matHeaderCellDef> details </th>
            <td mat-cell *matCellDef="let element" >
              <button class="button-evaluate">DETAILS</button>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="cancel">
            <th mat-sort-header *matHeaderCellDef> cancel </th>
            <td mat-cell *matCellDef="let element" >
              <button class="button-evaluate" (click)="onCancel(element)">CANCEL</button>
            </td>
          </ng-container>
  
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
       
      </div>
     
    </div>
    <mat-paginator [pageSizeOptions]="[1, 2, 5]"
        showFirstLastButtons
        aria-label="Select page of periodic elements" 
        #paginator
        (page)="onPaginateChange($event)">
    </mat-paginator>
  
  
  </div>