@import "src/style/styles";

.ride-summary {
  @include size(100%, 70vh);
  @include setFont(16px);
  overflow-y: auto;
  margin-top: 2%;
  font-weight: initial;
  color: $dark3;

  &::-webkit-scrollbar {
    display: none;
  }
}

.fas, .fa-solid {
  color: $dark3;
}

.first-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $dark3;
}

.time-info {
  margin: 10% 5%;
  padding: 0 2%;

  .minutes {
    @include setFont(25px);
    display: inline-block;
    color: $dark3;
    background-color: $light2;
    padding: 10% 20%;
    border-radius: 50px;
  }
}

.report-info {
  margin: 7% 4%;
  padding: 4%;

  .report-button {
    @include buttonStyle();
    width: 140%;
    padding: 5%;
  }
}

.second-line {
  border-bottom: 1px solid $dark3;
}

.third-line {
  display: flex;
  justify-content: flex-end;
  margin: 2% 3% 0 0;

  .price-title {
    @include setFont(24px);
    color: $dark3;
    font-weight: bold;
  }
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  margin: 1% 0 0 0;

  .submit-button-payment {
    @include buttonStyle();
    width: 20%;
  }
}
