@import "src/style/styles";

.dialog{
  @include size(60vw, 60vh);
}
.row{

}
.title{
  @include setTitleStyle(55vw);
}
.notification{
  @include size(60vw, auto);
  @include setFont(26px);
  display: flex;
  justify-content: center;
  margin: 10% auto;
  color: $dark3;

  .text-message{
    margin-left: 1%;
  }
}
