<div>
    <div class="title">
      <p>You already payed for this driving. Are you sure you want to cancel it?</p>
      <!-- <div class="location">
        <em class="fa-solid fa-location-dot"></em>
        <p class="location-title">Start location: {{data.message.startLocation}}</p>
      </div>
      <div class="location">
        <em class="fa-solid fa-location-dot"></em>
        <p class="location-title">End location: {{data.message.endLocation}}</p>
      </div> -->
    </div>
    <div class="button">
      <button type="submit" class="submit-button" (click)="onCancel()">Cancel</button>
      <button type="submit" class="submit-button" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
  