@import "src/style/styles";
@import "src/app/components/shared/shared";

.container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mat-form-field {
  @include size(25vw, auto);
}

.submit-item{
  @include size(auto, 5vh);
  display: flex;
  justify-content: flex-end;
  margin: 2% 5% 0 0;

  .submit-button{
    @include buttonStyle();
    @include size(20%, auto);
  }
}

