$tittle_color: #696F91;
$dark3: #4C506C;
$dark4: #4C506C;
$light2: #D9DBF1;
$light1: #E9EAEF;
$light5: #858DB5;
$dark1: #191A23;
$light4: #B4BCDF;
$grey_color: #bcb8b1;
$error_color: rgb(188, 50, 50);
$dark6: #333548;
$buttonPop: #c1c1c1;
$lightpink: #F0F0FA;
$purple: #6F49C2;
$font : "Inter";
