@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin setFont($size){
  font-family: $font;
  font-size: $size;
}

@mixin buttonStyle{
  font-size: 15px;
  background-color: $dark3;
  color: $light1;
  border-radius: 8px;
  cursor: pointer;
}

@mixin setTitleStyle($width){
    @include size($width, auto);
    @include setFont(26px);
    margin: 3% 5% 1% 5%;
    padding: 1%;
    border-bottom: $dark3 solid 2px;
    color: $dark3;
}
