<div>
  <div class="other-users-title">
    <i class='fas fa-users'></i>
    <h1>Include other users</h1>
  </div>
  <p class="explanation">*you can include other users by their email in this ride,</p>
  <p class="explanation">all users start from first location</p>
</div>
<form>
  <div class="input-other_users">
    <mat-form-field appearance="outline">
      <mat-label>User email</mat-label>
      <input matInput
             placeholder="pat@example.com"
             required
             formControlName="userEmailFriends">
      <mat-error>Email is required</mat-error>
    </mat-form-field>
    <button class="plus-button">
      <i class='fas fa-plus'></i>
    </button>
  </div>
  <div class="submit-item">
    <button type="submit" class="submit-button" >Done</button>
  </div>
</form>
