<div>
    <div class="title">
      <p class="header">{{data.message.message}}</p>
      <p>New driver data:</p>
      <div class="label">
        <mat-icon>short_text</mat-icon>
        <p>First name: {{data.message.driverData.firstName}}</p>
      </div>
      <div class="label">
        <mat-icon>short_text</mat-icon>
        <p>Last name: {{data.message.driverData.lastName}}</p>
      </div>
      <div class="label">
        <mat-icon>alternate_email</mat-icon>
        <p>Email: {{data.message.driverData.email}}</p>
      </div>
      <div class="label">
        <mat-icon>phone</mat-icon>
        <p>Phone number: {{data.message.driverData.phoneNumber}}</p>
      </div>
    </div>
    <p class="question">You can accept or deny changes</p>
    <div class="button">    
      <button type="submit" class="submit-button" (click)="onYesClick()">Accept</button>
      <button type="submit" class="submit-button" (click)="onNoClick()">Deny</button>
    </div>
</div>
  