$dark3: #4C506C;
$light2: #D9DBF1;
$light1: #E9EAEF;
$light5: #858DB5;
$light4: #B4BCDF;
$tittle_color: #696F91;
$facebook_blue: "#8984FF";

.sign_up_link{
    color: $dark3;
}

.sign_up_text{
    display: flex; 
    flex-direction: row; 
    align-self: center;
    margin-top: 15%;
    font-size: medium;
}

.sign_up_buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    flex-wrap: wrap;
}

.error_label{
    color: red;
    font-size: small;
    font-family: "Inter";
}

.facebook_button{
    background-color: white;
    color: $facebook_blue;
    font-size: medium;
    font-family: "Inter";
    border: solid thin $light4;
    flex-grow: 2;
}

.facebook_icon{
    background-color: $facebook_blue;
    size: 60px;
}

.google_btn{
    flex-grow: 0.5;
}

