<app-onboarding-header>
  <div class="user_form_container">
    <p class="form_tittle">Welcome back</p>

    <p *ngIf="errorMessage" class="error_label">Username or password are invalid.</p>

    <form class="input-fields-container" [formGroup]="this.loginForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput
          placeholder="pat@example.com"
          required
          formControlName="email">
        <mat-error>Email is required in form 'pat@example.com</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-top: 2%">
        <mat-label>Enter your password</mat-label>
        <input matInput
          [type]="hide ? 'password' : 'text'"
          required
          ngModel
          formControlName="password">
        <button [disabled]="this.loginForm.controls.password.value.length === 0" class="icon" mat-icon-button matSuffix (click)="hide= !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-button [disabled]="this.loginForm.invalid"
                [ngClass] = "{'disabled_large_btn': this.loginForm.invalid,  'large_button': !this.loginForm.invalid}" 
                type="submit">Log in</button>
      </div>


    </form>

    <div class="sign-up-container">
      <hr class="black-line">
      <div class="sing_up_text">or sign up with</div>
      <hr class="black-line">
    </div>

    <div class="sign_up_buttons">
      <div id="google_button_div" class="google_btn"></div>
      <!-- <button mat-button class="button" (click)="loginWithGoogle()">Google</button> -->      
        <button mat-button class="facebook_button" (click)="loginWithFacebook()">
          <mat-icon [ngStyle]="{'color':'#5597D5'}" >facebook</mat-icon>
          Facebook
        </button>
      
    </div>

    <div class="sign_up_text">
      <p>
        You dont have an account? &nbsp;
      </p>
      <a routerLink="/onboard/register" href="/onboard/register" class="sign_up_link">
        Sign up here
      </a>
    </div>
  </div>
</app-onboarding-header>
