<div class="profile_options">
        <div class="menu_item">
            <mat-icon class="menu_item_icon">group</mat-icon>
            <mat-list-option (click)="routAllDrivers()">
                All drivers
            </mat-list-option>
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">group</mat-icon>
            <mat-list-option (click)="routAllPassengers()">
                All passengers
            </mat-list-option>
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">person_add</mat-icon>
            <mat-list-option (click)="routAddDriver()">
                Add drivers
            </mat-list-option>
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">chat_bubble_outline</mat-icon>
            <mat-list-option (click)="routSupportChat()">
                <p class="menu_item_text">Supoort chat</p>
            </mat-list-option >
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">timeline</mat-icon>
            <mat-list-option>
                <p class="menu_item_text">Reports</p>
            </mat-list-option>
        </div>
        <div class="delimiter"></div>
</div>
