<div class="profile_options">
        <div class="menu_item">
            <mat-icon class="menu_item_icon">group</mat-icon>
            <mat-list-option >
                All drivers
            </mat-list-option>  
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">group</mat-icon>
            <mat-list-option >
                All passengers
            </mat-list-option>  
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">person_add</mat-icon>
            <mat-list-option routerLink="/add-driver">
                Add drivers
            </mat-list-option>  
        </div>
        <div class="menu_item">
            <mat-icon class="menu_item_icon">timeline</mat-icon>
            <mat-list-option>                
                <p class="menu_item_text">Reports</p>
            </mat-list-option>  
        </div>
        <div class="delimiter"></div>
</div>
