
<div class="chat-box-container" *ngIf="!isCollapsed">
    <div class="header">
        <button class="close-btn" (click)="onCLose()">
            <img src="/assets/cross.png" class="close"/>
        </button>
    </div>
    <div class="container">
        <div class="messages-container" *ngFor="let mess of this.messages">
            <app-message-box [message]="mess"></app-message-box>
        </div>
    </div>
    
    <div class="typing-container">
        <app-sent-box (messageEmiter)="setMessage($event)" [channel]="this.channel"></app-sent-box>
    </div>
</div>
<div *ngIf="isCollapsed" class="open_chat_shorcut">
    <button mat-icon-button (click)="initChat()"
            #tooltip="matTooltip"
          matTooltip={{this.tooltipText}}>
          <img *ngIf="!this.isUnread()" src="/assets/chat.png" class="new-message-icon"/>
        <img *ngIf="this.isUnread()" src="/assets/new-message.png" class="new-message-icon"/>
    </button>
</div>


