@import "src/style/styles";

.review-notes {
  @include size(70vw, 60vh);
}

.title {
  @include setTitleStyle(60vw);
}

.new-note{
  @include size(60vw, 20vh);
  margin: 2% 5% 1% 5%;

  .title-input{
    @include setFont(18px);
    color: $dark3;
    border-top: 1px solid $dark3;
    padding-top: 20px;
  }

  .explanation-text {
    @include size(60vw, 15vh);
    margin: 1% 0;
  }
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 4vh;
  margin: 1% 0 0 0;

  .submit-button {
    @include buttonStyle();
    width: 8%;
  }
}

