<div *ngIf="driving !== undefined && driving !== null">
  <div class="driving-detail">
    <div class="location-info">
      <div>
        <em class="fa-solid fa-location-dot"></em>
        <span class="bold-style">Start location: </span>
        {{driving.route.start.name}}
      </div>
      <div *ngIf="driving?.route.intermediateStations?.length > 0">
        <div *ngFor="let station of driving.route.intermediateStations">
          <em class='fas fa-map-location-dot'></em>
          <span class="bold-style">Station:</span>
          {{station.name}}
        </div>
      </div>
      <div>
        <em class="fa-solid fa-location-dot"></em>
        <span class="bold-style">End location: </span>
        {{driving.route.end.name}}
      </div>
    </div>
    <div class="passenger-info">
      <em class='fas fa-users'></em>
      <span class="bold-style">Passengers: </span>
      <p *ngFor="let passenger of driving.passengers;">
        <span class="passenger">- {{passenger}}</span>
      </p>
    </div>
    <div class="price">
      <em class="fa-solid fa-tags"></em>
      <span class="bold-style">Price: </span> {{driving.price}} RSD
    </div>
  </div>

  <div *ngIf="currDrivingStatus === 'waiting'" class="options">
    <button class="disabled-button">Start</button>
    <button class="active-button" (click)="cancelDriving(false)">Cancel</button>
  </div>

  <div *ngIf="currDrivingStatus === 'start'" class="options">
    <button class="active-button" (click)="startDriving()">Start</button>
    <button class="active-button" (click)="cancelDriving(false)">Cancel</button>
  </div>

  <div *ngIf="currDrivingStatus === 'active' || currDrivingStatus === 'finish'" class="options">
    <button class="active-button" (click)="endDriving()">Finish</button>
  </div>

  <div *ngIf="currDrivingStatus === 'next'" class="options">
    <button class="active-button" (click)="cancelDriving(false)">Cancel</button>
  </div>

  <div *ngIf="currDrivingStatus === 'reservation'" class="options">
    <button class="active-button" (click)="cancelDriving(true)">Cancel</button>
  </div>
</div>
