@import "src/style/styles";

p {
  margin: 0;
}

.fas, .fa-solid {
  @include size(10px, 10px);
  color: $dark3;
}

.driving-detail {
  @include size(100%, 23vh);
  @include setFont(16px);
  overflow-y: auto;
  font-weight: initial;
  color: $dark3;
  margin: 1% 5%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.location-info {
  width: 90%;
}

.location-info, .passenger-info, .price {
  @include setFont(15px);
  margin-bottom: 2%;
}

.bold-style {
  font-weight: bold;
  margin: 0 4%;
}

.passenger {
  margin-left: 10%;
}

.options {
  display: flex;
  justify-content: flex-end;
  margin: 0 2% 1% 2%;

  .active-button {
    @include buttonStyle();
    @include size(13%, auto);
    padding: 1%;
    margin: 0 2%;
  }
}

