@import "../../../../../style/styles.scss";

.message_container{
    padding: 10px;
    max-width: 200px;
    font-size: 12px;
    word-wrap: break-word;
}

.sender-message-box{
    padding: 10px;
    max-width: 200px;
    font-size: 12px;
    word-wrap: break-word;
    right: 0;
    background-color: #333548;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    float: right;

}

.recipient-message-box{
    padding: 10px;
    max-width: 200px;
    font-size: 12px;
    word-wrap: break-word;
    left: 0;
    background-color: $light2;
    color: black;
    border-radius: 10px;
    margin-left: 5px;
    float: left;
}