<div class="home-page">
  <div class="right-side-home-page">
    <div class="driver-status">
      <p class="status-title">Your current status: </p>
      <button class="button-status">{{status ? 'active' : 'inactive'}}</button>
    </div>
    <div class="current-driving">
      <h2 class="title">Current driving</h2>
      <app-display-driving [driving]="currentDriving" [time]="'current'"></app-display-driving>
    </div>
    <div class="next-driving">
      <h2 class="title">Next driving</h2>
      <app-display-driving [driving]="futureDriving" [time]="'next'"></app-display-driving>
    </div>
  </div>
  <div class="left-side-home-page">
    <app-map></app-map>
  </div>
</div>
