@import "src/style/styles";

.home-page{
  @include size(100vw, 100vh);
  display: flex;
  justify-content: start;
}
.right-side-home-page{
  @include size(45vw, 100vh);
  margin: 5px 10px 10px 60px;
  font-size: 15px;
}
.left-side-home-page{
  @include size(55vw, 100vh);
}
