@import '../../shared/shared.scss';

.driver-data_form{
    justify-content: end;
    width: 40%;
}

.done_text{
    color: $dark4;
    font-family: "Inter";
    font-size: medium;
    justify-content: center;
    justify-self: center;
    justify-content: center;
    padding-top: 10%;
    padding-left: 30%;
}