@import "src/style/styles";

.driver-data_form {
  justify-content: center;
  padding-left: 15%;
  padding-top: 2%;
  padding-right: 15%;
}

.done_text {
  color: $dark4;
  font-family: "Inter";
  font-size: large;
  justify-content: center;
  justify-self: center;
  justify-content: center;
  vertical-align: middle;
  padding-top: 8%;
}

.success_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  justify-items: center;
  padding-top: 20%;

}

.icon {
  height: 60px;
  width: 60px;
  margin-right: 2%;
  padding-top: 5%;
  vertical-align: middle;
}
