<mat-horizontal-stepper #stepper class="driver-data_form">
    
  <mat-step [stepControl]="this.driverForm" errorMessage="Invalid form data" class="stepper">
      <ng-template matStepLabel>Driver data</ng-template>
        <app-base-user-data-form (register)="onFirstStepNext($event, stepper)"></app-base-user-data-form>
    </mat-step>

    <mat-step [stepControl]="this.carForm" errorMessage="Invalid form data">   
      <app-base-car-data-form (formData)="onSecondStepNext($event, stepper)" [driverForm]="this.driverForm"></app-base-car-data-form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
    
  </mat-horizontal-stepper>
