<div class="home-page">
  <div class="right-side-home-page">
    <div *ngIf="driving !== undefined">
      <div class="ride-summary">
        <div class="first-line" *ngIf="!driving?.reservation">
          <div class="location">
            <em class="fa-solid fa-hourglass-start"></em>
            <p class="location-title">Start date: {{driving.startDate}}</p>
          </div>
          <div class="location">
            <em class="fa-solid fa-hourglass-end"></em>
            <p class="location-title">End date: {{driving.endDate}}</p>
          </div>
          <div *ngIf="this.isPassengerView">
            <button class="ride-button" mat-button (click)="getRide(driving.route, true)">Get ride now</button>
          </div>
          <div *ngIf="this.isPassengerView">
            <button class="ride-button" mat-button (click)="getRide(driving.route, false)">Get ride later</button>
          </div>
        </div>
        <div class="first-line" *ngIf="driving?.reservation">
          <div class="location">
            <em class="fa-solid fa-hourglass-start"></em>
            <p class="location-title">Schedule time: {{driving.scheduleDate}}</p>
          </div>
        </div>
        <div class="first-line">
          <div class="destination-info">
            <div class="location">
              <em class="fa-solid fa-location-dot"></em>
              <p class="location-title">{{driving.route.start.name}}</p>
            </div>
            <div class="location">
              <em class="fa-solid fa-location-dot"></em>
              <p class="location-title">{{driving.route.end.name}}</p>
            </div>
            <div class="intermediate-station" *ngFor="let station of driving.route.intermediateStations">
              <em class='fas fa-map-location-dot'></em>
              <p class="intermediate-title">Intermediate station: <span>{{station.name}}</span></p>
            </div>
            <div class="passengers-container">
              <div class="other-users" *ngFor="let pass of driving.passengers">
                <em class='fas fa-users'></em>
                <p class="users-title">Passenger: <span style="display: flex;">{{pass}}</span></p>
              </div>
              <div class="other-users" *ngFor="let image of userProfilePhotos">
                <img *ngIf="image" [src]="image" class="profile-image" />
                <img *ngIf="!image" src="/assets/people" class="profile-image"/>
              </div>
            </div>
            
            <div class="location">
              <em class="fa-solid fa-long-arrow-right"></em>
              <p class="location-title">Distance: {{driving.fromStartToEnd.distance}} m</p>
            </div>
          </div>
        </div>
        <div class="second-line" *ngIf="!isDriverView">
          <div class="driver-info">
            <div class="tooltip">
              <img *ngIf="driving.driver.carData.carType === 'REGULAR'" src="../../../assets/car.png" alt="car"
                   class="driver-img">
              <img *ngIf="driving.driver.carData.carType === 'AVERAGE'" src="../../../assets/avarageCar.png"
                   alt="car" class="driver-img">
              <img *ngIf="driving.driver.carData.carType === 'PREMIUM'" src="../../../assets/premiumCar.png"
                   alt="car" class="driver-img">
              <span class="tooltiptext">{{driving.driver.carData.carType}}</span>
            </div>
            <div class="driver-title">
              <p>Driver: <span class="driver">{{driving.driver.firstName}} {{driving.driver.lastName}}</span>
                <img *ngIf="driverProfilePhoto" [src]="driverProfilePhoto" class="profile-image" />
                <img *ngIf="!driverProfilePhoto" src="/assets/people.png" class="profile-image"/>
              </p>
              <p class="registration">Registration: <span
                class="number">{{driving.driver.carData.registration}}</span>
              </p>
            </div>
          </div>
          <div class="additional-options-info">
            <div class="tooltip" *ngIf="driving.driver.carData.carAccommodation.baggage">
              <img src="../../../../../assets/koferi.png" alt="baggage" class="additional-option">
              <span class="tooltiptext">Baggage</span>
            </div>
            <div class="tooltip" *ngIf="driving.driver.carData.carAccommodation.pet">
              <img src="../../../../../assets/zivotinje.png" alt="pet" class="additional-option">
              <span class="tooltiptext">Pet</span>
            </div>
            <div class="tooltip" *ngIf="driving.driver.carData.carAccommodation.food">
              <img src="../../../../../assets/hrana.png" alt="food" class="additional-option">
              <span class="tooltiptext">Food</span>
            </div>
            <div class="tooltip" *ngIf="driving.driver.carData.carAccommodation.baby">
              <img src="../../../../../assets/beba.png" alt="baby" class="additional-option">
              <span class="tooltiptext">Baby</span>
            </div>
          </div>
        </div>
        <div class="third-line">
          <p class="price-title">= <span class="price">{{driving.price}} RSD</span></p>
        </div>
        <div *ngIf="!driving?.reservation">
          <div>
            <p><strong>Reviews</strong></p>
            <p *ngIf="driving.evaluations?.length == 0">
              There are no reviews for this ride
            </p>
          </div>
          <div class="reviewBox" *ngFor="let e of driving.evaluations">
            <p *ngIf="e.driverRate">Driver rate: {{e.driverRate}}</p>
            <p *ngIf="e.driverRate">Vehicle rate: {{e.vehicleGrade}}</p>
            <p>Comment: {{e.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left-side-home-page">
    <app-map></app-map>
  </div>
</div>
