@import "src/style/styles";

.home-page{
  @include size(100%, 80vh);
  display: flex;
  justify-content: start;
}
.right-side-home-page{
  @include size(60vw, 80vh);
  margin: 5px 10px 10px 10px;
  font-size: 15px;
}
.left-side-home-page{
  @include size(55vw, 80vh);
}
