@import "src/style/styles";

.dialog{
  @include size(60vw, 60vh);
}
.title{
  @include setTitleStyle(55vw);
}
.notification{
  @include size(60vw, auto);
  @include setFont(26px);
  display: flex;
  justify-content: center;
  margin: 10% auto;
  color: $dark3;

  .text-message{
    margin-left: 1%;
  }
}

.button-evaluate{
  @include buttonStyle();
  @include size(80%, 50%);
  font-size: 13px;
}

.table-users {
  width: 85vw;
  min-height: 20vh;
  margin: 2% 5%;
}
