@import "src/style/styles";

.horizontal-group {
  display: flex;
  flex-direction: row;
}

.field-form {
  width: 25vw;
  margin-right: 1%;
  min-width: 100px;
}

.item {
  position: relative;
}

.name_field {
  display: inline-block;
  vertical-align: top;
}

.form_tittle {
  color: $tittle_color;
  font-weight: bold;
  font-size: xx-large;
  font-family: $font;
  margin-bottom: 15%;
}

.submit-button {
  margin-top: 15%;
  width: 25vw;
}
