<div class="reset-password-form" *ngIf="isValidToken">
    <div class="container" [formGroup]="this.passwordForm">
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput
               required
               [type]="hideNewPassword ? 'password' : 'text'"
               formControlName="newPassword"
        >
        <button [disabled]="this.passwordForm.controls.newPassword.value.length === 0" class="icon" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
  
        <mat-error *ngIf="this.passwordForm.controls['newPassword'].hasError('required')">New password is required</mat-error>
        <mat-error *ngIf="this.passwordForm.controls['newPassword'].hasError('minlength')">Minimum number of characters is 8</mat-error>
        <mat-error *ngIf="this.passwordForm.controls['newPassword'].hasError('passwordSame')">New password can't be same as previous</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input matInput
               required
               [type]="hideRepeatPassword ? 'password' : 'text'"
               formControlName="repeatedPassword"
        >
        <button [disabled]="this.passwordForm.controls.repeatedPassword.value.length === 0" class="icon" mat-icon-button matSuffix (click)="hideRepeatPassword= !hideRepeatPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
          <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="this.passwordForm.controls['repeatedPassword'].hasError('required')">Repeat password is required</mat-error>
        <mat-error *ngIf="this.passwordForm.controls['repeatedPassword'].hasError('minlength')">Minimum number of characters is 8</mat-error>
        <mat-error *ngIf="this.passwordForm.controls['repeatedPassword'].hasError('noMatch')">Repeated password and new password doesn't match</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-item">
      <button class="submit-button" type="submit" (click)="onSubmit()">
        Save
      </button>
    </div>
  </div>
  