<div *ngIf="drivingOptions?.length == 0">
  There are currently no available drivers, please try again soon.
</div>
<div class="ride-area" *ngIf="drivingOptions?.length > 0">
  <div class="ride-info" *ngFor="let option of drivingOptions"
       (click)="showOptionOnMap(option)"
        [ngClass]="{ 'selected-ride-info': option === selectedOption }">
    <div class="other-info">
      <div class="driver-info">
        <img src="../../../../../assets/car.png" alt="car" class="driver-img">
        <p class="driver-title">Driver: <span class="driver">{{option.driver.firstName}} {{option.driver.lastName}}</span></p>
      </div>
      <div class="price-info">
        <p class="price-title">Price: <span class="price">{{option.price}} $</span></p>
      </div>
      <div class="additional-options-info">
        <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.baggage">
          <img src="../../../../../assets/koferi.png" alt="baggage" class="additional-option">
          <span class="tooltiptext">baggage</span>
        </div>
        <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.pet">
          <img src="../../../../../assets/zivotinje.png" alt="pet" class="additional-option">
          <span class="tooltiptext">pets</span>
        </div>
        <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.food">
          <img src="../../../../../assets/hrana.png" alt="food" class="additional-option">
          <span class="tooltiptext">food</span>
        </div>
        <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.baby">
          <img src="../../../../../assets/beba.png" alt="baby" class="additional-option">
          <span class="tooltiptext">baby</span>
        </div>
      </div>
    </div>
    <div class="time-info">
      <p class="minutes">{{option.timeForWaiting}}min</p>
    </div>
  </div>
</div>
<div class="submit-item">
  <button class="submit-button" type="submit" (click)="onSubmit()">Next</button>
</div>


