<div *ngIf="drivingOptions?.length === 0" class="message-no-available">
  There are currently no available drivers, please try again soon.
</div>
<div class="ride-area" *ngIf="drivingOptions?.length > 0">
  <div *ngFor="let option of drivingOptions;let i = index" [attr.data-index]="i"
       (click)="showOptionOnMap(option)">
    <app-card-option [option]="option" [selectedOption]="selectedOption" [i]="i"></app-card-option>
  </div>
</div>
<div class="submit-item" *ngIf="drivingOptions?.length > 0">
  <button class="submit-button-next" type="submit" (click)="onSubmit()">Next</button>
</div>


