@import "src/style/styles";

.ride-area {
  @include size(100%, 65vh);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  margin: 1% 0 0 0;

  .submit-button, .submit-button-next {
    @include buttonStyle();
    width: 20%;
  }
}

.message-no-available{
  font-size: 18px;
  font-weight: bold;
}
