<form class="location-form" [formGroup]="this.routeForm">
  <div class="scroll">
    <div class="location-fields">
      <app-search-place
        [alreadySelectedPlaces]="selectedLocations"
        [typeOfPlace]="'start'"
        (placeSelectedEvent)="startPlaceSelected($event)"
        (placeRemovedEvent)="startPlaceDeleted()">
      </app-search-place>
      <app-search-place
        [alreadySelectedPlaces]="selectedLocations"
        [typeOfPlace]="'end'"
        (placeSelectedEvent)="endPlaceSelected($event)"
        (placeRemovedEvent)="endPlaceDeleted()">
      </app-search-place>

      <mat-expansion-panel
        class="intermediate-stations-container"
        (opened)="intermediatePanelOpened = true"
        (closed)="intermediatePanelOpened = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="intermediate-station-title">
              <em class='fas fa-map-location-dot'></em>
              &nbsp;
              <span>Intermediate locations</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="explanation">*you can add up to 3 intermediate locations</p>
        <ol>
          <li>
            <app-search-place
              [alreadySelectedPlaces]="selectedLocations"
              [typeOfPlace]="'first intermediate'"
              [isPlaceRequired]="false"
              (placeSelectedEvent)="firstIntermediatePlaceSelected($event)"
              (placeRemovedEvent)="firstIntermediatePlaceDeleted()">
            </app-search-place>
          </li>
          <li>
            <app-search-place
              [alreadySelectedPlaces]="selectedLocations"
              [typeOfPlace]="'second intermediate'"
              [isPlaceRequired]="false"
              (placeSelectedEvent)="secondIntermediatePlaceSelected($event)"
              (placeRemovedEvent)="secondIntermediatePlaceDeleted()">
            </app-search-place>
          </li>
          <li>
            <app-search-place
              [alreadySelectedPlaces]="selectedLocations"
              [typeOfPlace]="'third intermediate'"
              [isPlaceRequired]="false"
              (placeSelectedEvent)="thirdIntermediatePlaceSelected($event)"
              (placeRemovedEvent)="thirdIntermediatePlaceDeleted()">
            </app-search-place>
          </li>
        </ol>
        <div class="optimal-driving-choose">
          <p class="option-title">You can put these stations in:</p>
          <p class="explanation">*you can choose one option</p>
          <section class="option-optimal-driving">
            <mat-radio-group formControlName="stationsOrder">
              <mat-radio-button [checked]="true" value="inorder">Order specified above</mat-radio-button>
              <mat-radio-button value="system">Let the system calculate optimal order</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
      </mat-expansion-panel>
    </div>

    <mat-expansion-panel
      class="other-users-container"
      (opened)="intermediatePanelOpened = true"
      (closed)="intermediatePanelOpened = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="other-users-title">
            <em class='fas fa-users'></em>
            &nbsp;
            <span class="description">Include other users</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="explanation">*you can include other users by their email in this ride,</p>
      <p class="explanation">all users start from first location and user must has account</p>
      <ol>
        <li>
          <mat-form-field appearance="outline">
            <mat-label>Enter first user</mat-label>
            <input matInput
                   placeholder="pat@example.com"
                   formControlName="userEmailFriendsFirst">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
          <button class="plus-button" (click)="deleteFirstUserClick()">
            <em class='fas fa-minus'></em>
          </button>
        </li>
        <li>
          <mat-form-field appearance="outline">
            <mat-label>Enter second user</mat-label>
            <input matInput
                   placeholder="pat@example.com"
                   formControlName="userEmailFriendsSecond">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
          <button class="plus-button" (click)="deleteSecondUserClick()">
            <em class='fas fa-minus'></em>
          </button>
        </li>
        <li>
          <mat-form-field appearance="outline">
            <mat-label>Enter third user</mat-label>
            <input matInput
                   placeholder="pat@example.com"
                   formControlName="userEmailFriendsThird">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
          <button class="plus-button" (click)="deleteThirdUserClick()">
            <em class='fas fa-minus'></em>
          </button>
        </li>
      </ol>
    </mat-expansion-panel>
    <div class="ride-for-later" *ngIf="scheduleRide === true">
      <div>
        <p class="option-title">You can schedule a ride for later:</p>
        <p class="explanation">*it is possible to schedule a ride for a minimum of half an hour and a maximum of 5 hours</p>
        <div class="ngx-timepicker-field-example" *ngIf="routeForm.value.scheduleRideControl && hourNow < 19">
          <div class="input-time">
            <input placeholder="time" class="input" [ngxTimepicker]="fullTime" [format]="24" [min]="startStr"
                   [max]="endStr" [value]="routeForm.value.scheduleTime" formControlName="scheduleTime" readonly>
            <ngx-material-timepicker-toggle [for]="fullTime"></ngx-material-timepicker-toggle>
          </div>
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </div>
        <div *ngIf="routeForm.value.scheduleRideControl && hourNow >= 19">
          <div class="input-time">
            <input placeholder="time" class="input" [ngxTimepicker]="fullTime" [format]="24"
                    [value]="routeForm.value.scheduleTime" formControlName="scheduleTime" readonly>
            <ngx-material-timepicker-toggle [for]="fullTime"></ngx-material-timepicker-toggle>
          </div>
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>

        </div>
      </div>
      <div>
        <section class="option-schedule">
          <mat-checkbox [checked]="scheduleRide" [disabled]="true" formControlName="scheduleRideControl">Schedule</mat-checkbox>
        </section>
      </div>
    </div>
    <div class="optimal-driving-choose">
      <p class="option-title">You can choose optimal driving by:</p>
      <p class="explanation">*you can choose one option</p>
      <section class="option-optimal-driving">
        <mat-radio-group formControlName="optimalDriving">
          <mat-radio-button [checked]="true" value="noPreference">No preference</mat-radio-button>
          <mat-radio-button value="cheapest">The cheapest ride</mat-radio-button>
          <mat-radio-button value="travelTime">The shortest travel time</mat-radio-button>
        </mat-radio-group>
      </section>
    </div>
    <div class="additional-options-choose">
      <p class="option-title">Additional options:</p>
      <p class="explanation">*you can choose more options</p>
      <section class="option-additional-options">
        <mat-checkbox formControlName="babyOption">Baby in car</mat-checkbox>
        <mat-checkbox formControlName="baggageOption">Baggage</mat-checkbox>
        <mat-checkbox formControlName="petOption">Allowed pet</mat-checkbox>
        <mat-checkbox formControlName="foodOption">Allowed food</mat-checkbox>
      </section>
    </div>
  </div>
  <div class="submit-item">
    <button class="submit-button" type="submit" [hidden]="apiLoading" (click)="onSubmit($event)">
      Get a ride
    </button>
    <span [hidden]="apiLoading===false">
      <span><strong>Finding routes...</strong></span>
      <button mat-button>
        <mat-spinner diameter="40"></mat-spinner>
      </button>
    </span>
  </div>
</form>
