@import "src/style/styles";

.location-fields {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mat-form-field {
  width: 30vw;
  height: 2%;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

.intermediate-station {
  display: flex;
  margin-top: 2%;

  .intermediate-station-title {
    display: flex;
    justify-content: flex-start;

    .description {
      margin-left: 10px;
    }
  }
}

.fas, .fa-solid {
  height: 2%;
}

.other-users {
  display: flex;
  margin-top: 3%;

  .other-users-title {
    display: flex;
    justify-content: flex-start;

    .description {
      margin-left: 10px;
    }
  }
}

.plus-button {
  height: 25px;
  width: 25px;
  margin: 0 20% 0 auto;
  background-color: $light1;
  color: $dark3;
  border-radius: 50px;
  border-color: $light5;
}

.explanation {
  color: $grey_color;
  font-size: 13px;
  margin: 0 0 1% 0;
}

.optimal-driving-choose, .additional-options-choose {
  margin-top: 4%;

  .mat-radio-group, .option-additional-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    align-content: space-around;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
  }

  .option-optimal-driving, .option-additional-options {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.option-title {
  margin: 1% 0;
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  margin: 1% 0 0 0;

  .submit-button {
    @include buttonStyle();
    width: 20%;
  }
}

.intermediate-stations-container {
  width: 33vw;
}
