@import "src/style/styles";

.scroll {
  @include size(100%, 70vh);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none; //for display scroll
  }
}

.location-fields {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mat-form-field {
  @include size(25vw, auto);
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

.intermediate-station-title {
  display: flex;
  justify-content: flex-start;

  .description {
    margin-left: 10px;
  }
}

.fas, .fa-solid {
  height: 2%;
}

.other-users-title {
  display: flex;
  justify-content: flex-start;

  .description {
    margin-left: 10px;
  }
}

.plus-button {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: $light1;
  color: $dark3;
  border-radius: 50px;
  border-color: $light5;
}

.explanation {
  color: $grey_color;
  font-size: 13px;
  margin: 0 0 1% 0;
}

.optimal-driving-choose, .additional-options-choose {
  margin-top: 4%;

  .mat-radio-group, .option-additional-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    align-content: space-around;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
  }

  .option-optimal-driving, .option-additional-options {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.option-title {
  margin: 1% 0;
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  margin: 1% 0 0 0;

  .submit-button {
    @include buttonStyle();
    width: 20%;
  }
}

.intermediate-stations-container {
  width: 33vw;
}

.other-users-container {
  width: 33vw;
  margin-top: 10px;
}

.ride-for-later {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;

  .option-schedule {
    margin: 10% 0 10% 30%;
  }
}

.input-time {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;

  .input {
    @include setFont(16px);
    outline: 0;
    border-width: 0 0 2px;
    border-color: $dark3;
  }
}

::ng-deep ngx-material-timepicker-content {
  --body-background-color: #fff;
  --primary-font-family: 'Roboto', sans-serif;
  --button-color: #4C506C !important;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, .5);
  --dial-background-color: #4C506C !important;
  --dial-editable-active-color: #4C506C !important;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #4C506C !important;
}
