@import "src/style/styles";

.table-users {
  width: 85vw;
  min-height: 20vh;
  margin: 5% 5%;
  display: flex;
  justify-self: center
}

.button-rides, .button-notes, .button-blocked{
  @include buttonStyle();
  @include size(60%, 50%);
}
