<div class="container">
    <div class="route-container">
        <div style="padding: 10px;">
            <img src="/assets/favorite-route.png" style="width: 220px;"/>
        </div>
        <div style="display: flex; flex-direction:row">
            <p class="label">
                <img src="/assets/placeholder.png" style="width: 20px"/>
                FROM:</p>
            <P class="text">Mise dimitrievica</P>
        </div>
        <div style="display: flex; flex-direction:row">
            <p class="label">
                <img src="/assets/placeholder.png" style="width: 20px"/>
                TO:</p>
            <P class="text">Mise dimitrievica</P>
        </div>
        <div class="separator"></div>
        <div style="display: flex; flex-direction:column">
            <p class="intermediate-label">Intermediate locations:</p>
            <P class="intermediate-text">
                - Mise dimitrievica</P>
            <P class="intermediate-text">- Mise dimitrievica</P>
            
        </div>
        <div style="width: 100%;">
            <button class="get-ride-button">
                Get a ride
            </button>
        </div>
        
    </div>

</div>
