@import "../../../shared/shared.scss";

$tittle_color: #696F91;

.holder-container {
    display: flex;
    flex-direction: row;
    height: 100%
}

.hero_picture {
    height: 100%;
    width: 100%;
}

.picture-container {
    flex-grow: 2.5;
    flex-basis: 0;
}

.content-container {
    flex-grow: 2;
    flex-basis: 0;
    font-family: 'Inter';
}

// CONTENT CLASSES - SHOULD BE MOVED ELSEWHERE


.form_tittle{
    color: $tittle_color;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Inter';
    margin-bottom: 15%;

}
.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width: 100%;
    margin-top: 10%;
}

.black-line {
    width: 30%; 
    height: 1px;
    border: 0px; 
    background: black;
}
