<div class="driver-info">
  <div class="tooltip">
    <img *ngIf="option.driver.carData.carType === 'REGULAR'" src="assets/car.png" alt="car"
         class="driver-img">
    <img *ngIf="option.driver.carData.carType === 'AVERAGE'" src="assets/avarageCar.png"
         alt="car" class="driver-img">
    <img *ngIf="option.driver.carData.carType === 'PREMIUM'" src="assets/premiumCar.png"
         alt="car" class="driver-img">
    <span class="tooltiptext">{{option.driver.carData.carType}}</span>
  </div>
  <div class="driver-title">
    <p>Driver: <span class="driver-name">{{option.driver.firstName}} {{option.driver.lastName}}</span>
    </p>
    <p class="registration">Registration: <span
      class="number">{{option.driver.carData.registration}}</span>
    </p>
  </div>
  <div class="driver-image">
    <img *ngIf="driverProfilePhoto" [src]="driverProfilePhoto" class="profile-image" alt="driver-image"/>
    <img *ngIf="!driverProfilePhoto" src="/assets/people.png" class="profile-image" alt="driver-image"/>
  </div>
</div>
<div class="additional-options-info">
  <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.baggage">
    <img src="assets/koferi.png" alt="baggage" class="additional-option">
    <span class="tooltiptext">Baggage</span>
  </div>
  <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.pet">
    <img src="assets/zivotinje.png" alt="pet" class="additional-option">
    <span class="tooltiptext">Pet</span>
  </div>
  <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.food">
    <img src="assets/hrana.png" alt="food" class="additional-option">
    <span class="tooltiptext">Food</span>
  </div>
  <div class="tooltip" *ngIf="option.driver.carData.carAccommodation.baby">
    <img src="assets/beba.png" alt="baby" class="additional-option">
    <span class="tooltiptext">Baby</span>
  </div>
</div>
