<div *ngIf="currentDriving !== undefined && currentDriving !== undefined">
  <div class="ride-summary">
    <div class="first-line">
      <div>
        <app-ride-overview [start]="currentDriving.route.start.name"
                           [end]="currentDriving.route.end.name"
                           [intermediateStation]="currentDriving.route.intermediateStations"></app-ride-overview>
        <app-passenger-overview [passengers]="currentDriving.passengers"></app-passenger-overview>
      </div>
      <div class="report-info" *ngIf="drivingActive && !finished">
        <button type="button" class="report-button" (click)="reportDriver()">Report</button>
      </div>
      <div class="report-info" *ngIf="!drivingActive && waitingForRideToStart">
        <span><strong>Waiting for ride to start...</strong></span>
        <button mat-button>
          <mat-spinner diameter="50"></mat-spinner>
        </button>
      </div>
      <div class="time-info" *ngIf="!drivingActive && !waitingForRideToStart">
        <p class="time-title">Driver comes for:</p>
        <p class="minutes">{{minLeft}}min</p>
      </div>
    </div>
    <div class="second-line">
      <app-driver-overview [option]="currentDriving"></app-driver-overview>
    </div>
  </div>
</div>
