@import "../../../../../style/styles.scss";

.send-box-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.type-box-xontainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
}

.type-message{
    flex-grow: 10;
    border-radius: 10px;
    border-color: $light4;
    color: $dark1;
    font-size: 12px;
}

.send-button{
    flex-grow: 1;
    width: 20px;
}

.send-button-icon{
    width: 20px; 
    margin-bottom: 5px;
}

